

<script type="text/javascript">
    jQuery(document).ready(function(){
        //=================================== MAIN MENU ===================================//
        jQuery("ul.sf-menu").supersubs({
            minWidth		: 12,		// requires em unit.
            maxWidth		: 14,		// requires em unit.
            extraWidth		: 3	// extra width can ensure lines don't sometimes turn over due to slight browser differences in how they round-off values
            // due to slight rounding differences and font-family
        }).superfish();  // call supersubs first, then superfish, so that subs are
        // not display:none when measuring. Call before initialising
        // containing tabs for same reason.

        //=================================== SLIDESHOW ===================================//
        jQuery('#slideshow').cycle({
            timeout: 5000,  // milliseconds between slide transitions (0 to disable auto advance)
            fx:      'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
            pager:   '#slidernav',  // selector for element to use as pager container
            pause:   0,	  // true to enable "pause on hover"
            cleartype:     !$.support.opacity,  // true if clearType corrections should be applied (for IE)
            cleartypeNoBg: true, // set to true to disable extra cleartype fixing (leave false to force background color setting on slides)
            pauseOnPagerHover: 0 // true to pause when hovering over pager link
        });


        //=================================== PRETTYPHOTO ===================================//
        jQuery('a[data-rel]').each(function() {jQuery(this).attr('rel', jQuery(this).data('rel'));});
        jQuery("a[rel^='prettyPhoto']").prettyPhoto({animationSpeed:'slow',theme:'facebook',slideshow:2000});

    });
</script>
<body>
<div id="bodychild">
<div id="outercontainer">

<!-- HEADER -->


<%#= render partial:'refinery/header'%>
<!-- END HEADER -->


  <% if !@sticky_pages.nil?%>
<!-- AFTER HEADER -->
  <%for sticky_page in @sticky_pages%>
      <%if !sticky_page.content_for(:home_part1).nil?%>
          <%= raw sticky_page.content_for(:home_part1)%>
      <%end%>
  <%end%>
<!-- END AFTER HEADER -->

<!-- SLIDER -->
  <%for sticky_page in @sticky_pages%>
      <%if !sticky_page.content_for(:home_part2).nil?%>
          <%= raw sticky_page.content_for(:home_part2)%>
      <%end%>
  <%end%>
<!-- END SLIDER -->

<!-- BEFORE CONTENT -->
  <%for sticky_page in @sticky_pages%>
      <%if !sticky_page.content_for(:home_part3).nil?%>
      <%end%>
  <%end%>
<!-- END BEFORE CONTENT -->

<!-- MAIN CONTENT -->
  <%for sticky_page in @sticky_pages%>
      <%if !sticky_page.content_for(:home_part4).nil?%>
          <%= raw sticky_page.content_for(:home_part4)%>
      <%end%>
  <%end%>
<!-- END MAIN CONTENT -->





</div>

  <%end%>
</div>

</body>
