<!--<div id="outerheader">-->
<!--<header id="top">-->
  <!--<div id="logo"><a href="index-2.html"><img src="images/logo.png" alt=""></a></div>-->
  <!--<section id="navigation">-->
    <!--<nav>-->
      <!--<ul id="topnav" class="sf-menu">-->
        <!--<li class="current"><a href="index-2.html">Home</a></li>-->
        <!--<li><a href="about.html">About</a>-->
          <!--<ul>-->
            <!--<li><a href="about.html">About Page</a></li>-->
            <!--<li><a href="portfolio2.html">Portfolio Alternate</a></li>-->
            <!--<li><a href="element.html">Element</a></li>-->
            <!--<li><a href="single.html">Blog Detail</a></li>-->
            <!--<li><a href="archive.html">Archives</a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="service.html">Services</a></li>-->
        <!--<li><a href="blog.html">Blog</a></li>-->
        <!--<li><a href="portfolio.html">Portfolio</a></li>-->
        <!--<li><a href="contact.html">Contact</a></li>-->
      <!--</ul>-->
    <!--</nav>-->
    <!--<div class="clear"></div>-->
  <!--</section>-->
  <!--<div class="clear"></div>-->
<!--</header>-->
<!--</div>-->


<div id="outerheader">
  <header id="top">
    <div id="logo"><a href="index-2.html"><img src="images/logo.png" alt=""></a></div>
    <section id="navigation">
      <nav>
     <%= header_menus.to_html%>
        </nav>
      <div class="clear"></div>
    </section>
    <div class="clear"></div>
  </header>
</div>
